Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

Refactor component states to use selectedPackageInfoProvider
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/iconcomponent/IconComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentState.kt
Owners: @RevenueCat/coresdk

Add promo offer support to variable processing
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorV2.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/OfferVariableProcessingTests.kt
Owners: @RevenueCat/coresdk

Add promo offer support to purchase flow
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PurchaseLogic.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/pkg/PackageComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

Update legacy templates for intro offer eligibility
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/OfferDetails.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PurchaseButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template4.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template7.kt
Owners: @RevenueCat/coresdk, @RevenueCat/monetization

Update component tests for promo offer support
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewVariablesTests.kt
Owners: @RevenueCat/coresdk

Rename `MultipleIntroOffers` override to `MultiplePhaseOffers` (#3069)
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewTests.kt
Owners: @RevenueCat/coresdk

Rename PlayStoreOfferConfig to PromoOfferConfig
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/PackageComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/PromoOfferConfig.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PromoOfferResolver.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PromoOfferResolverTest.kt
Owners: @RevenueCat/coresdk

Fix ResolvedOffer handling and rename ConfigurationError to OfferNotFound
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PromoOfferResolver.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PromoOfferResolverTest.kt
Owners: @RevenueCat/coresdk

offerPhaseCount
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PackageExtensions.kt
Owners: @RevenueCat/coresdk

Fix incorrect test expectation for PromoOfferMultiple
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
Owners: @RevenueCat/coresdk

renames some tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
Owners: @RevenueCat/coresdk

Address review feedback for Customer Center refresh
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
Owners: @RevenueCat/customer-center

change to deserializer and cast to GoogleStoreProduct
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ProductChangeConfig.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/serializers/ReplacementModeDeserializers.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ProductChangeConfigTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/ProductChangeCalculator.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/ProductChangeCalculatorTest.kt
Owners: @RevenueCat/coresdk

Fix lifecycle handling to survive configuration changes
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Owners: @RevenueCat/customer-center

only render if not visible
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoVisibilityTests.kt
Owners: @RevenueCat/coresdk

remove near viewport optimization
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
Owners: @RevenueCat/coresdk

clean up
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
Owners: @RevenueCat/coresdk

don't apply border, etc to fallback image
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
Owners: @RevenueCat/coresdk

Video's fallback image has double border (#3071)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
Owners: @RevenueCat/coresdk

put image on top so there's no black
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoVisibilityTests.kt
Owners: @RevenueCat/coresdk

Version bump for 9.20.1
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

remove new performPurchase
  ui/revenuecatui/api.txt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PurchaseLogic.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
Owners: @RevenueCat/coresdk

remove generic exception
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/ProductChangeCalculator.kt
Owners: @RevenueCat/coresdk

cleanup
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentState.kt
Owners: @RevenueCat/coresdk

remove useless annotation
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentState.kt
Owners: @RevenueCat/coresdk

clean up functions
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PurchaseLogic.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
Owners: @RevenueCat/coresdk

[AUTOMATIC] Release/9.20.1 (#3072)
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Preparing for next version
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Prepare next version: 9.21.0-SNAPSHOT (#3073)
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

refactor offereligibility and isSelected
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/iconcomponent/IconComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/state/PackageContext.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/IconComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ImageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TextComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TimelineComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/VideoComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
Owners: @RevenueCat/coresdk

Remove networkName from AdFailedToLoad event
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdTracker.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdFailedToLoadData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/AdTrackerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/BackendStoredEventAdTest.kt
Owners: @RevenueCat/coresdk

Fix EventsManagerTest to remove networkName from FailedToLoad test
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
Owners: @RevenueCat/coresdk

Update metalava API files for AdFailedToLoadData
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
Owners: @RevenueCat/coresdk

reset videoReady
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
Owners: @RevenueCat/coresdk

Improve carousel performance with videos (#3070)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
Owners: @RevenueCat/coresdk

Remove networkName from AdFailedToLoad event (#3074)
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdTracker.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdFailedToLoadData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/AdTrackerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/BackendStoredEventAdTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
Owners: @RevenueCat/coresdk

Add customVariables support to all PaywallActivityLauncher methods
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallActivityLauncherAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallActivityLauncherAPI.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
Owners: @RevenueCat/coresdk

Send presentedOfferingContext info when using PurchasesAreCompletedBy.MY_APP and paywalls
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallTrackingAPI.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PostReceiptHelper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/PurchaseButtonComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallStoredEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/PostReceiptHelperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallPresentedCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/events/PaywallEventSerializationTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/testdata/TestData.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

Make networkName nullable in ad event data types
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdDisplayedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdLoadedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdOpenedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdRevenueData.kt
Owners: @RevenueCat/coresdk

Make networkName nullable in ad event data types (#3076)
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdDisplayedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdLoadedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdOpenedData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdRevenueData.kt
Owners: @RevenueCat/coresdk
