Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

Fix detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/CustomerInfo.kt
Owners: @RevenueCat/coresdk

Fix margin rendering issue
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

Initial changes to the lane
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Renames lane to slack_backend_integration_test_results
  fastlane/Fastfile
  fastlane/README.md
Owners: @RevenueCat/coresdk

Mostly working…
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

Fixes mentioning on-call handle
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Box can't go there… but video doesn't work without it there…
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

fix test
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCommonTest.kt
Owners: @RevenueCat/coresdk

Adds richer formatting to the message
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

finally, it's working
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

Extracts some common options
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Renames suite to environment
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Adds test suite value which is the job name
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Reorders the fields
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

detekt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
Owners: @RevenueCat/coresdk

[RENOVATE] Update dependency gradle to v9
  examples/CustomEntitlementComputationSample/gradle/wrapper/gradle-wrapper.jar
  examples/CustomEntitlementComputationSample/gradle/wrapper/gradle-wrapper.properties
  examples/CustomEntitlementComputationSample/gradlew
  examples/CustomEntitlementComputationSample/gradlew.bat
  examples/MagicWeather/gradle/wrapper/gradle-wrapper.jar
  examples/MagicWeather/gradle/wrapper/gradle-wrapper.properties
  examples/MagicWeather/gradlew
  examples/MagicWeather/gradlew.bat
  examples/MagicWeatherCompose/gradle/wrapper/gradle-wrapper.jar
  examples/MagicWeatherCompose/gradle/wrapper/gradle-wrapper.properties
  examples/MagicWeatherCompose/gradlew
  examples/MagicWeatherCompose/gradlew.bat
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Owners: @RevenueCat/coresdk

Add extra request logging (#2794)
  purchases/build.gradle.kts
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
Owners: @RevenueCat/coresdk

Normalize product ids (#2797)
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/OverviewFragment.kt
  examples/purchase-tester/src/main/res/layout/fragment_overview.xml
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCommonTest.kt
Owners: @RevenueCat/coresdk

Delete .claude/settings.local.json
  .claude/settings.local.json
Owners: @RevenueCat/coresdk

Apply suggestion from @JZDesign
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Background.kt
Owners: @RevenueCat/coresdk

Move views to their own file
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ViewWithVideoBackground.kt
Owners: @RevenueCat/coresdk

Update CHANGELOG to reflect where changes actually happened in 9.12.0 and 9.12.1
  CHANGELOG.md
Owners: @RevenueCat/coresdk

Update CHANGELOG to reflect where changes actually happened in 9.12.0 and 9.12.1 (#2798)
  CHANGELOG.md
Owners: @RevenueCat/coresdk

better tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/PathUtilsTest.kt
Owners: @RevenueCat/customer-center

Check if maven has published current version before deploying
  build.gradle.kts
  fastlane/Fastfile
  fastlane/README.md
Owners: @RevenueCat/coresdk

Fail when not able to check publication
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

Fix detekt
  build.gradle.kts
Owners: @RevenueCat/coresdk

add SubscriptionOption.copyWithPresentedOfferingContext
  api-tester/src/main/java/com/revenuecat/apitester/java/SubscriptionOptionAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/SubscriptionOptionAPI.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/GoogleSubscriptionOption.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/SubscriptionOption.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/TestStoreProduct.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/google/SubscriptionOptionTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/productStubs.kt
Owners: @RevenueCat/coresdk

Migrate resume function to fun interface for java interop
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallListener.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/Invokable.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
Owners: @RevenueCat/coresdk

Use suspendCoroutine instead of a cancellable one
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
Owners: @RevenueCat/coresdk

Update API tests + metalava
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallListenerAPI.kt
  ui/revenuecatui/api.txt
Owners: @RevenueCat/coresdk

Wrap error when connecting to BillingClient
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
Owners: @RevenueCat/coresdk

Add internal Offerings and ProductEntitlementMapping source information
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/DataSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/ETagManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/HTTPResult.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMapping.kt
  purchases/src/test/java/com/revenuecat/purchases/OfferingsSourceTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/FallbackURLBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/DeviceCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientVerificationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPResultMockFactory.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/HTTPResultTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMappingSourceTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMappingTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/productEntitlementMappingFactory.kt
Owners: @RevenueCat/coresdk

Fix integration tests
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/cachedofferings/CachedOfferingsUsageIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
Owners: @RevenueCat/coresdk

Add some assertions to backend integration tests
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/FallbackURLBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
Owners: @RevenueCat/coresdk

Unify integration tests jobs (#2791)
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
Owners: @RevenueCat/coresdk

Change to new environment naming
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/Constants.kt
Owners: @RevenueCat/coresdk

feat: add in support ticket feature
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/defaults/kotlin/com/revenuecat/purchases/coroutinesExtensions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/actions/CustomerCenterAction.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/navigation/CustomerCenterDestination.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsButtonsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/NoActiveUserManagementView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Add test backend environment parameter to integration tests (#2792)
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/Constants.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/PurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/trustedentitlements/TrustedEntitlementsInformationalModeIntegrationTest.kt
Owners: @RevenueCat/coresdk

chore: update string type to enum
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/NoActiveUserManagementView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
Owners: @RevenueCat/customer-center

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization
