Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

Minor updates to Emerge snapshot setup
  gradle/libs.versions.toml
  test-apps/testpurchasesuiandroidcompatibility/build.gradle.kts
Owners: @RevenueCat/coresdk

Use Emerge-runtime snapshots library and remove emerge-annotations, update remaining best practices
  gradle/libs.versions.toml
  test-apps/testpurchasesuiandroidcompatibility/build.gradle.kts
  ui/revenuecatui/build.gradle.kts
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

rough draft
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcher.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculatorTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcherTest.kt
Owners: @RevenueCat/coresdk

fix promotinoals
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PurchaseInformationCardView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
Owners: @RevenueCat/customer-center

fix wrong test config data
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
Owners: @RevenueCat/customer-center

Update Emerge snapshots to best/latest practices (#2777)
  gradle/libs.versions.toml
  test-apps/testpurchasesuiandroidcompatibility/build.gradle.kts
  ui/revenuecatui/build.gradle.kts
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Change ForceServerErrorStrategy to be a `fun interface` to simplify instantiation (#2773)
  purchases/src/main/kotlin/com/revenuecat/purchases/ForceServerErrorStrategy.kt
Owners: @RevenueCat/coresdk

Do not set base-sha on main when uploading paparazzi screenshots
  .circleci/config.yml
Owners: @RevenueCat/coresdk

[EXTERNAL] Update Emerge snapshots to best/latest practices (#2777) by @rbro112 (#2779)
  .circleci/config.yml
  gradle/libs.versions.toml
  test-apps/testpurchasesuiandroidcompatibility/build.gradle.kts
  ui/revenuecatui/build.gradle.kts
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Write integration tests to verify usage of cachedOfferings
  purchases/build.gradle.kts
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/cachedofferings/CachedOfferingsUsageIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ForceServerErrorStrategy.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
Owners: @RevenueCat/coresdk

To revert: Run integration tests
  .circleci/config.yml
Owners: @RevenueCat/coresdk

Revert "To revert: Run integration tests"
  .circleci/config.yml
Owners: @RevenueCat/coresdk

Comment out fallback URL tests until we fix them
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/FallbackURLBackendIntegrationTest.kt
Owners: @RevenueCat/coresdk

Rename function
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/cachedofferings/CachedOfferingsUsageIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ForceServerErrorStrategy.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
Owners: @RevenueCat/coresdk

Added support for fallback urls with different paths than for the main base url
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

simplify + add more tests
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcher.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculatorTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcherTest.kt
Owners: @RevenueCat/coresdk

address PR feedback
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcher.kt
Owners: @RevenueCat/coresdk

Use cached offerings on network errors (#2772)
  purchases/build.gradle.kts
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/cachedofferings/CachedOfferingsUsageIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ForceServerErrorStrategy.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsManagerTest.kt
Owners: @RevenueCat/coresdk

simplify implementation
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

remove unnecessary imports
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

getPath defaults to non-fallback path
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

Fix fallback paths
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

adapt tests
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientVerificationTest.kt
Owners: @RevenueCat/coresdk

fix detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
Owners: @RevenueCat/coresdk

Keep cache logic similar to iOS + ensure path extension is on file (#2750)
  purchases/src/main/kotlin/com/revenuecat/purchases/storage/DefaultFileRepository.kt
  purchases/src/test/java/com/revenuecat/purchases/storage/DefaultFileCacheTest.kt
Owners: @RevenueCat/coresdk

Fix test
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/fallbackurl/PurchasesFallbackURLTest.kt
Owners: @RevenueCat/coresdk

Fix detekt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/fallbackurl/PurchasesFallbackURLTest.kt
Owners: @RevenueCat/coresdk

To revert: Run integration tests
  .circleci/config.yml
Owners: @RevenueCat/coresdk

return purchased products without entitlements
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcher.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/PurchasedProductsFetcherTest.kt
Owners: @RevenueCat/coresdk

Fix CEC integration tests
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
Owners: @RevenueCat/coresdk

Change key for ETagManager so that it uses the full URL instead of the Endpoint's path
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/ETagManager.kt
Owners: @RevenueCat/coresdk

Adapt tests to change in ETagManager
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientVerificationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/ETagManagerTest.kt
Owners: @RevenueCat/coresdk

remove unused parameter
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
Owners: @RevenueCat/coresdk

Move tests to use coroutines and fix tests
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/fallbackurl/PurchasesFallbackURLTest.kt
Owners: @RevenueCat/coresdk

Fix detekt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
Owners: @RevenueCat/coresdk

Fix integration tests
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
Owners: @RevenueCat/coresdk

Add gold tests to backend integration tests
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/BaseBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/GoldenFileRecorder.kt
Owners: @RevenueCat/coresdk

Last set of fixes
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/GoldenFileRecorder.kt
Owners: @RevenueCat/coresdk

add default package
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
Owners: @RevenueCat/coresdk

add log
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
Owners: @RevenueCat/coresdk
