Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

it works!
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxySerialRequestExecutor.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
Owners: @RevenueCat/coresdk

reinstate timeout logic
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
Owners: @RevenueCat/coresdk

fix missing viewTreeViewModelStoreOwner
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CompatComposeView.kt
Owners: @RevenueCat/coresdk

remove galaxy branding from SerialRequestExecutor
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/SerialRequestExecutor.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/GalaxySerialRequestExecutorTest.kt
Owners: @RevenueCat/coresdk

fix test file name
  purchases/src/test/java/com/revenuecat/purchases/utils/SerialRequestExecutorTest.kt
Owners: @RevenueCat/coresdk

consolidate request instantiation
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
Owners: @RevenueCat/coresdk

Enable AIDL
  purchases/build.gradle.kts
Owners: @RevenueCat/coresdk

Version bump for 9.16.0-beta02
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Fix custom schemes on paywall purchase buttons
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/URIExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/URIExtensionsTest.kt
Owners: @RevenueCat/coresdk

Fix custom schemes on paywall purchase buttons (#2914)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/URIExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/URIExtensionsTest.kt
Owners: @RevenueCat/coresdk

cache StoreProducts instead of ProductVos
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
Owners: @RevenueCat/coresdk

add no-op comments instead of warning logs to connection functions
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
Owners: @RevenueCat/coresdk

add log when parsing sub period fails
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/StoreProductConversions.kt
Owners: @RevenueCat/coresdk

unify synchronized block
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/SerialRequestExecutor.kt
Owners: @RevenueCat/coresdk

fix test
  purchases/src/test/java/com/revenuecat/purchases/galaxy/handler/ProductDataHandlerTest.kt
Owners: @RevenueCat/coresdk

remove product request timeout
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/handler/ProductDataHandlerTest.kt
Owners: @RevenueCat/coresdk

Version bump for 9.15.4
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

no-op GalaxyAttributionFetcher
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/attribution/GalaxyDeviceIdentifiersFetcher.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/attribution/GalaxyDeviceIdentifiersFetcherTest.kt
Owners: @RevenueCat/coresdk

[AUTOMATIC] Release/9.15.4 (#2916)
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Preparing for next version
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Prepare next version: 9.16.0-SNAPSHOT (#2918)
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

PR comments
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CompatComposeView.kt
Owners: @RevenueCat/coresdk

progress
  purchases/src/main/kotlin/com/revenuecat/purchases/BillingFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/DefaultIAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/IAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/PurchaseDataHandler.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/listener/PurchaseResponseListener.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/GalaxyBillingWrapperTest.kt
Owners: @RevenueCat/coresdk

remove synchronized + introduce @GalaxySerialOperation
  purchases/src/main/kotlin/com/revenuecat/purchases/BillingFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/StoreProductConversions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/listener/ProductDataResponseListener.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/utils/GalaxySerialOperation.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/GalaxyBillingWrapperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/handler/ProductDataHandlerTest.kt
Owners: @RevenueCat/coresdk

dont use reflection
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
Owners: @RevenueCat/coresdk

dont use reflection
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
Owners: @RevenueCat/coresdk

detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
Owners: @RevenueCat/coresdk

Don't use reflection to instantiate AmazonDeviceIdentifiersFetcher (#2919)
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
Owners: @RevenueCat/coresdk

more progress
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/DefaultIAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/IAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/PurchaseHandler.kt
Owners: @RevenueCat/coresdk

Fix `IllegalStateException`: No `ViewModelStoreOwner` was provided via `LocalViewModelStoreOwner` in `CompatComposeView` (#2912)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CompatComposeView.kt
Owners: @RevenueCat/coresdk

add @GalaxySerialOperation to IAPHelperProvider.getProductsDetails
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/DefaultIAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/IAPHelperProvider.kt
Owners: @RevenueCat/coresdk

Fetch Products from Galaxy Store (#2908)
  feature/galaxy/build.gradle.kts
  purchases/build.gradle.kts
  purchases/src/main/kotlin/com/revenuecat/purchases/BillingFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/DefaultIAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/IAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/StoreProductConversions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/constants/GalaxyErrorCode.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/ProductDataHandler.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/listener/ProductDataResponseListener.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/utils/ErrorVoUtils.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/utils/GalaxySerialOperation.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/SerialRequestExecutor.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/GalaxyBillingWrapperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/GalaxyStoreTest.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/StoreProductConversionsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/handler/ProductDataHandlerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/galaxy/utils/ErrorVoUtilsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/SerialRequestExecutorTest.kt
Owners: @RevenueCat/coresdk

Remove deprecated property from CustomerCenterPreviewTheme
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/theme/CustomerCenterPreviewTheme.kt
Owners: @RevenueCat/customer-center

Test 2: Verifying snapshots
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/theme/CustomerCenterPreviewTheme.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/snapshottests/TemplateSnapshotTest.kt
Owners: @RevenueCat/customer-center, @RevenueCat/coresdk

progress
  purchases/src/main/kotlin/com/revenuecat/purchases/BillingFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/DefaultIAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/IAPHelperProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/handler/PurchaseHandler.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/listener/PurchaseResponseListener.kt
Owners: @RevenueCat/coresdk

Update golden
  purchases/src/test/resources/backend_integration_tests_golden/ProductionBackendIntegrationTest/can post ad events backend request/request_001.json
Owners: @RevenueCat/coresdk

Revert "Test 2: Verifying snapshots"
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/theme/CustomerCenterPreviewTheme.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/snapshottests/TemplateSnapshotTest.kt
Owners: @RevenueCat/customer-center, @RevenueCat/coresdk

Revert "Test: Verify changes in paparazzi snapshots"
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/snapshottests/TemplateSnapshotTest.kt
Owners: @RevenueCat/coresdk

Change paywall preview recorder name template
  fastlane/Fastfile
  ui/revenuecatui/src/testDebug/kotlin/com/revenuecat/purchases/ui/revenuecatui/snapshottests/PaywallComponentsTemplatePreviewRecorder.kt
Owners: @RevenueCat/coresdk

Change AdFailedToLoad mediatorErrorCode type from Long to Int
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/AdEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/ads/events/types/AdFailedToLoadData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/AdTrackerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/ads/events/BackendStoredEventAdTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
Owners: @RevenueCat/coresdk
