Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

Support fortress us-east-2 integration tests (#2793)
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/Constants.kt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/purchasesExtensions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/AppConfig.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderUSEast2BackendIntegrationTest.kt
Owners: @RevenueCat/coresdk

Change CustomerInfoSource to loadedFromCache boolean
  purchases/src/main/kotlin/com/revenuecat/purchases/CustomerInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/CustomerInfoFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculator.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/DeviceCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculatorTest.kt
Owners: @RevenueCat/coresdk

Added extra assertions with customer info source to integration tests
  fastlane/README.md
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/PurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/fallbackurl/PurchasesFallbackURLTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
Owners: @RevenueCat/coresdk

Fix detekt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
Owners: @RevenueCat/coresdk

rename to resumable and add a boolean
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallListenerAPI.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallListener.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/Invokable.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/Resumable.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
Owners: @RevenueCat/coresdk

hotfix crash
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
Owners: @RevenueCat/coresdk

Changed dataSource to loadedFromCache
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/cachedofferings/CachedOfferingsUsageIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/DataSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPResponseOriginalSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMapping.kt
  purchases/src/test/java/com/revenuecat/purchases/OfferingsSourceTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/FallbackURLBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/DeviceCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMappingSourceTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/productEntitlementMappingFactory.kt
Owners: @RevenueCat/coresdk

Hotfix video component crash onPause (#2804)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
Owners: @RevenueCat/coresdk

Fix detekt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPResponseOriginalSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
Owners: @RevenueCat/coresdk

Simplify gradle command
  build.gradle.kts
  fastlane/README.md
Owners: @RevenueCat/coresdk

Use correct fortress base URL for us-east-1
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/Constants.kt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/purchasesExtensions.kt
Owners: @RevenueCat/coresdk

Fix backend integration tests
  fastlane/README.md
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderUSEast1BackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderUSEast2BackendIntegrationTest.kt
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified product entitlement mapping backend request/response_001.json
Owners: @RevenueCat/coresdk

Update purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
Owners: @RevenueCat/coresdk

Fixes from review
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
Owners: @RevenueCat/coresdk

Use new fortress us-east-1 base url (#2805)
  fastlane/README.md
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/Constants.kt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/purchasesExtensions.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderUSEast1BackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/LoadShedderUSEast2BackendIntegrationTest.kt
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform product entitlement mapping backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified product entitlement mapping backend request/request_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified product entitlement mapping backend request/response_001.json
Owners: @RevenueCat/coresdk

Wrap error when connecting to BillingClient (#2801)
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
Owners: @RevenueCat/coresdk

chore: update appearance of create ticket screen
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/composables/SettingsButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
Owners: @RevenueCat/customer-center

Update the paywall tester app to use this feature
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallViewActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/offerings/OfferingsScreen.kt
Owners: @RevenueCat/coresdk

feat: handle success and error states
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/defaults/kotlin/com/revenuecat/purchases/coroutinesExtensions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Add java api check
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallListenerAPI.java
Owners: @RevenueCat/coresdk

detekt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallViewActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/Resumable.kt
Owners: @RevenueCat/coresdk

update api
  ui/revenuecatui/api.txt
Owners: @RevenueCat/coresdk

Add client side timeout logic for endpoints that support fallback URLs
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/HTTPTimeoutManager.kt
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/HTTPTimeoutManagerTest.kt
Owners: @RevenueCat/coresdk

feat: update to clearer success and failure states
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
Owners: @RevenueCat/customer-center

feat: make sure email field gives correct keyboard option
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
Owners: @RevenueCat/customer-center

Add equality test
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoTest.kt
Owners: @RevenueCat/coresdk

Updates fastlane plugin
  Gemfile.lock
Owners: @RevenueCat/coresdk

added tests for impression event
  purchases/src/test/java/com/revenuecat/purchases/customercenter/events/CustomerCenterEventsSerializationTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/customer-center

Fix equality checks for offerings and add some tests
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
  purchases/src/test/java/com/revenuecat/purchases/OfferingsTest.kt
Owners: @RevenueCat/coresdk

feat: update to use translations
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
Owners: @RevenueCat/customer-center

Use maven central API for more freshness of data
  fastlane/Fastfile
Owners: @RevenueCat/coresdk

test: add unit tests
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketViewTest.kt
Owners: @RevenueCat/customer-center

Clean up
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ViewWithVideoBackground.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

remove modifier not used at root
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ViewWithVideoBackground.kt
Owners: @RevenueCat/coresdk

modifier feedback
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Owners: @RevenueCat/coresdk

clean up
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterEventType.kt
  purchases/src/test/java/com/revenuecat/purchases/customercenter/events/CustomerCenterEventsSerializationTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

add source
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterPromoOfferEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/PromoOfferRejectionSource.kt
  purchases/src/test/java/com/revenuecat/purchases/customercenter/events/CustomerCenterEventsSerializationTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

feat: show failure as snackbar
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketViewTest.kt
Owners: @RevenueCat/customer-center

feat: use snackbar for successful send
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/actions/CustomerCenterAction.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketViewTest.kt
Owners: @RevenueCat/customer-center

Adds TestStoreErrorDialogActivity
  purchases/src/main/AndroidManifest.xml
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/TestStoreErrorDialogActivity.kt
Owners: @RevenueCat/coresdk
