Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

fix option boxes sometimes getting enabled when base item is checked
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/PackageCardAdapter.kt
Owners: @RevenueCat/coresdk

Version bump for 9.12.2
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Tests
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/TestStoreErrorDialogActivityTest.kt
Owners: @RevenueCat/coresdk

Apply suggestion from @ajpallares
  purchases/src/main/kotlin/com/revenuecat/purchases/TestStoreErrorDialogActivity.kt
Owners: @RevenueCat/coresdk

Apply suggestion from @ajpallares
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/TestStoreErrorDialogActivity.kt
  purchases/src/test/java/com/revenuecat/purchases/TestStoreErrorDialogActivityTest.kt
Owners: @RevenueCat/coresdk

Update golden test files to have tests pass again
  purchases/src/test/resources/backend_integration_tests_golden/FallbackURLBackendIntegrationTest/can perform offerings backend request/response_002.json
  purchases/src/test/resources/backend_integration_tests_golden/FallbackURLBackendIntegrationTest/can perform verified offerings backend request/response_002.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/response_001.json
Owners: @RevenueCat/coresdk

Add back assertion now that ui_config is sent
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/PurchasesIntegrationTest.kt
Owners: @RevenueCat/coresdk

Update golden test files to have tests pass again (#2813)
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/PurchasesIntegrationTest.kt
  purchases/src/test/resources/backend_integration_tests_golden/FallbackURLBackendIntegrationTest/can perform offerings backend request/response_002.json
  purchases/src/test/resources/backend_integration_tests_golden/FallbackURLBackendIntegrationTest/can perform verified offerings backend request/response_002.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast1BackendIntegrationTest/can perform verified offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform offerings backend request/response_001.json
  purchases/src/test/resources/backend_integration_tests_golden/LoadShedderUSEast2BackendIntegrationTest/can perform verified offerings backend request/response_001.json
Owners: @RevenueCat/coresdk

Fixes detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
Owners: @RevenueCat/coresdk

feat: add old button back for pre-config change
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsButtonsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/NoActiveUserManagementView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
Owners: @RevenueCat/customer-center

test: update mocks
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/CustomerCenterConfigDataTests.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/PurchasesTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Adds `TestStoreErrorDialogActivity` (#2809)
  purchases/src/main/AndroidManifest.xml
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/TestStoreErrorDialogActivity.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/TestStoreErrorDialogActivityTest.kt
Owners: @RevenueCat/coresdk

fix: correct fallback url
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/Endpoint.kt
Owners: @RevenueCat/coresdk

fix: use translation
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Owners: @RevenueCat/customer-center

chore: update to return object vs boolean
  purchases/src/defaults/kotlin/com/revenuecat/purchases/coroutinesExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

chore: remove onClick from previews
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/composables/SettingsButton.kt
Owners: @RevenueCat/customer-center

chore: rename snackbarHsotState
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
Owners: @RevenueCat/customer-center

chore: normalise supportTickets
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/NoActiveUserManagementView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
Owners: @RevenueCat/customer-center

test: add unit test coverage for endpoint
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendTest.kt
Owners: @RevenueCat/coresdk

test: update unit test set up
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
Owners: @RevenueCat/customer-center

Version bump for 9.12.2
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

[AUTOMATIC] Release/9.12.2 (#2814)
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Preparing for next version
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

Prepare next version: 9.13.0-SNAPSHOT (#2815)
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Owners: @RevenueCat/coresdk

fix: updates for linting issues
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/composables/SettingsButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/CreateSupportTicketView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsButtonsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/NoActiveUserManagementView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Add back BC7 support in different flavor
  examples/paywall-tester/build.gradle.kts
  examples/purchase-tester/build.gradle.kts
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/NotFinishingTransactionsBillingClient.kt
  purchases/src/bc7/kotlin/com/revenuecat/purchases/google/usecase/QueryProductDetailsUseCase.kt
  purchases/src/bc7/kotlin/com/revenuecat/purchases/google/usecase/QueryPurchaseHistoryUseCase.kt
  purchases/src/bc8/kotlin/com/revenuecat/purchases/google/usecase/QueryProductDetailsUseCase.kt
  purchases/src/bc8/kotlin/com/revenuecat/purchases/google/usecase/QueryPurchaseHistoryUseCase.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/OfferingStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculatorTest.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/billingClientStubs.kt
  purchases/src/testBc7/kotlin/com/revenuecat/purchases/google/usecase/QueryProductDetailsUseCaseTest.kt
  purchases/src/testBc7/kotlin/com/revenuecat/purchases/google/usecase/QueryPurchaseHistoryUseCaseTest.kt
  purchases/src/testBc7/kotlin/com/revenuecat/purchases/utils/billingClientStubsBcDependent.kt
  purchases/src/testBc7/kotlin/com/revenuecat/purchases/utils/queryPurchaseHistoryUtils.kt
  purchases/src/testBc8/kotlin/com/revenuecat/purchases/google/usecase/QueryProductDetailsUseCaseTest.kt
  purchases/src/testBc8/kotlin/com/revenuecat/purchases/google/usecase/QueryPurchaseHistoryUseCaseTest.kt
  purchases/src/testBc8/kotlin/com/revenuecat/purchases/utils/billingClientStubsBcDependent.kt
Owners: @RevenueCat/coresdk

fix mock in test
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

feat: show old contact button based on dropdown config
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/RelevantPurchasesListView.kt
Owners: @RevenueCat/customer-center

[Purchase Tester]: Fix toggling "Base Item" box sometimes programmatically enabling other "Buy Option" boxes (#2812)
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/PackageCardAdapter.kt
Owners: @RevenueCat/coresdk

Fixes from review
  purchases/src/main/kotlin/com/revenuecat/purchases/CustomerInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/ETagManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/HTTPResult.kt
  purchases/src/test/java/com/revenuecat/purchases/amazon/AmazonBackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientVerificationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPResultMockFactory.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendPaywallEventTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendRedeemWebPurchaseTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/ETagManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/HTTPResultTest.kt
  purchases/src/test/java/com/revenuecat/purchases/subscriberattributes/SubscriberAttributesBackendTests.kt
Owners: @RevenueCat/coresdk

chore: remove comment/kick off CI again
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
Owners: @RevenueCat/customer-center

test: update golden file
  purchases/src/test/resources/backend_integration_tests_golden/ProductionBackendIntegrationTest/can get customer center config data/response_001.json
Owners: @RevenueCat/coresdk

fix imports
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/ui/screens/OfferingScreen.kt
  examples/purchase-tester/src/main/java/com/revenuecat/purchasetester/ui/screens/OverviewScreen.kt
Owners: @RevenueCat/coresdk

wrap customer center in MaterialTheme
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CustomerCenterView.kt
Owners: @RevenueCat/coresdk

Update customer center config data
  purchases/src/test/resources/backend_integration_tests_golden/ProductionBackendIntegrationTest/can get customer center config data/response_001.json
Owners: @RevenueCat/coresdk

fix accidental inclusion
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenViewModel.kt
Owners: @RevenueCat/coresdk

clean up alert dialoge creation and invocation
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallViewActivity.kt
Owners: @RevenueCat/coresdk

no-op in the background modifier function
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Background.kt
Owners: @RevenueCat/coresdk

Add internal CustomerInfo source properties (#2796)
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/BasePurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/PurchasesIntegrationTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/fallbackurl/PurchasesFallbackURLTest.kt
  purchases/src/androidTestDefaults/kotlin/com/revenuecat/purchases/offlineentitlements/OfflineEntitlementsWithInitialRequestsCompletedIntegrationTest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/CustomerInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/CustomerInfoFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/ETagManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/HTTPResult.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculator.kt
  purchases/src/test/java/com/revenuecat/purchases/amazon/AmazonBackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/CustomerInfoTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/DeviceCacheTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientVerificationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPResultMockFactory.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendPaywallEventTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendRedeemWebPurchaseTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/ETagManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/networking/HTTPResultTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offlineentitlements/OfflineCustomerInfoCalculatorTest.kt
  purchases/src/test/java/com/revenuecat/purchases/subscriberattributes/SubscriberAttributesBackendTests.kt
  purchases/src/test/resources/backend_integration_tests_golden/ProductionBackendIntegrationTest/can get customer center config data/response_001.json
Owners: @RevenueCat/coresdk

Fix dark mode in CustomerCenterView (#2817)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CustomerCenterView.kt
Owners: @RevenueCat/coresdk

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization
