Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

Add FLUSH_COMPLETED and FLUSH_SKIPPED_NO_EVENTS debug events (#3166)
  purchases/src/main/kotlin/com/revenuecat/purchases/DebugEventName.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
Owners: @RevenueCat/coresdk

Add Resumable callback to control restore flows
  api-tester/src/defaults/java/com/revenuecat/apitester/java/PurchasesAPI.java
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallListenerAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/PurchasesAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallListenerAPI.kt
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterListener.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/Resumable.kt
  ui/revenuecatui/api.txt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallListener.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivity.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/CustomerCenterView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/OriginalTemplatePaywallFooterView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Clean up OfferingsFactory: move properties to top and add clarifying comments (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
Owners: @RevenueCat/coresdk

Clean up OfferingsFactory: move properties to top and add clarifying comments (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/PreviewProductSpec.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/JSONArrayExtensions.kt
Owners: @RevenueCat/coresdk

Fix trimming inconsistency in platform_product_identifier extraction (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
Owners: @RevenueCat/coresdk

Add backward-compat deserialization tests for legacy offer conditions
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
Owners: @RevenueCat/coresdk

Add backward-compat deserialization tests for legacy offer conditions (#3172)
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
Owners: @RevenueCat/coresdk

[Conditional Configurability] More tests (#3156)
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/VisibilityConditionTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallState.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/FakePaywallState.kt
Owners: @RevenueCat/coresdk

[Conditions] Update JSON keys (#3168)
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactoryTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewTests.kt
Owners: @RevenueCat/coresdk

load aar via gradle in ci (#3170)
  .circleci/config.yml
  build.gradle.kts
  settings.gradle.kts
Owners: @RevenueCat/coresdk

fix samsung-sev branch CI (#3135)
  .circleci/config.yml
  build.gradle.kts
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyPurchasingData.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStoreProduct.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxySubscriptionOption.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PostReceiptInitiationSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PresentedOfferingContext.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchaseParams.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesConfiguration.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesState.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesStateProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/BillingAbstract.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/DateProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPResponseOriginalSource.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/ReplaceProductInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/caching/DeviceCache.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/networking/HTTPResult.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offlineentitlements/ProductEntitlementMapping.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/utils.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingMode.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/GalaxyReplacementMode.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/Emojis.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/PurchaseStrings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/RestoreStrings.kt
  settings.gradle.kts
Owners: @RevenueCat/coresdk

FIX
  .circleci/config.yml
Owners: @RevenueCat/coresdk

chore: Update sdks-common-config orb to 3.13.0
  .circleci/config.yml
Owners: @RevenueCat/coresdk

make galaxy APIs experimental
  feature/galaxy/src/main/java/com/revenuecat/purchases/galaxy/GalaxyConfiguration.java
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyPurchasingData.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyStoreProduct.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxySubscriptionOption.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/EntitlementInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchaseParams.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesConfiguration.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingMode.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/GalaxyReplacementMode.kt
Owners: @RevenueCat/coresdk

Update sdks-common-config orb to 3.13.0 (#3173)
  .circleci/config.yml
Owners: @RevenueCat/coresdk

[Conditions] Render default paywall instead of fallback for unsupported rules
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/errors/PaywallValidationError.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/strings/PaywallValidationErrorStrings.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/VisibilityConditionTests.kt
Owners: @RevenueCat/coresdk

Fix cancellation URI in Customer Center (#3151)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/customer-center

Address PR comment improvements (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/Package.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/PreviewProductSpec.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/PreviewProductSpecTest.kt
Owners: @RevenueCat/coresdk

Revert PackageType companion object to avoid public API change (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/Package.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/PreviewProductSpec.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/PreviewProductSpecTest.kt
Owners: @RevenueCat/coresdk

Use single colon separator for composite product:plan keys (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
Owners: @RevenueCat/coresdk

Remove duplicate method (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/PreviewProductSpec.kt
Owners: @RevenueCat/coresdk

[Conditions] Detect unsupported conditions at paywall level, not per-component
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
Owners: @RevenueCat/coresdk

update log
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
Owners: @RevenueCat/coresdk

more logs
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
Owners: @RevenueCat/coresdk

PR comments
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
Owners: @RevenueCat/coresdk

don't break unsupported
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
Owners: @RevenueCat/coresdk

detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesConfiguration.kt
Owners: @RevenueCat/coresdk

more opt ins
  purchases/src/main/kotlin/com/revenuecat/purchases/APIKeyValidator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/BillingFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/OfferingParserFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapperFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/OfferingStrings.kt
Owners: @RevenueCat/coresdk

more opt ins
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/GalaxyBillingWrapper.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/conversions/GalaxyBillingModeConversions.kt
  feature/galaxy/src/main/kotlin/com/revenuecat/purchases/galaxy/conversions/StoreProductConversions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PurchaseInformationCardView.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Simplify UI Preview Mode: return empty Offerings and drop SDK mock products (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/PreviewProductSpec.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsFactoryTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/PreviewProductSpecTest.kt
Owners: @RevenueCat/coresdk

try this
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PurchaseInformationCardView.kt
Owners: @RevenueCat/customer-center

Cleanup trivial code (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/JSONArrayExtensions.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/JSONArrayExtensionsTest.kt
Owners: @RevenueCat/coresdk

move annotations around for detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/AttributionFetcherFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/OfferingParserFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/OfferingStrings.kt
Owners: @RevenueCat/coresdk

PR comments
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/ContainsUnsupportedConditionTests.kt
Owners: @RevenueCat/coresdk

Invoke onSuccess in fetchAndCacheOfferings when uiPreviewMode is true (PW-967)
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsManagerTest.kt
Owners: @RevenueCat/coresdk

InternalRevenueCatAPI
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
Owners: @RevenueCat/coresdk

update log
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
Owners: @RevenueCat/coresdk

Add trackCustomPaywallImpression to purchases-android
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/CustomPaywallImpressionEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/events/CustomPaywallImpressionEventTest.kt
Owners: @RevenueCat/coresdk

Move CustomPaywallImpressionParams to its own file
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/CustomPaywallImpressionEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/CustomPaywallImpressionParams.kt
Owners: @RevenueCat/coresdk

Make params non-optional in trackCustomPaywallImpression
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
Owners: @RevenueCat/coresdk
