Repository RevenueCat/purchases-android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RevenueCat/coresdk, @RevenueCat/customer-center, @RevenueCat/monetization

.github/CODEOWNERS:

# CODEOWNERS for purchases-android

# Default owners
* @RevenueCat/coresdk

# Customer Center code and related UI tests
/purchases/src/**/com/revenuecat/purchases/customercenter/** @RevenueCat/customer-center
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/customercenter/** @RevenueCat/customer-center

# Paywalls
/ui/revenuecatui/src/**/com/revenuecat/purchases/ui/revenuecatui/templates/** @RevenueCat/monetization

Fix detekt
  purchases/src/main/kotlin/com/revenuecat/purchases/CoroutinesExtensionsCommon.kt
Owners: @RevenueCat/coresdk

Add `uiPreviewMode` flag to `DangerousSettings` (PW-962)
  purchases/src/main/kotlin/com/revenuecat/purchases/DangerousSettings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/AppConfig.kt
  purchases/src/test/java/com/revenuecat/purchases/DangerousSettingsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/AppConfigTest.kt
Owners: @RevenueCat/coresdk

[Conditional Configurability] Add support for Booleans y Numbers (#3143)
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/CustomVariableValueAPI.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/Constants.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/customvariables/CustomVariablesEditorDialog.kt
  ui/revenuecatui/api.txt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/CustomVariableValue.kt
Owners: @RevenueCat/coresdk

[EXTERNAL] feat: introduce awaitCanMakePayments (#3136) contributed by @TheRogue76 (#3141)
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/PurchasesCommonAPI.kt
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/CoroutinesExtensionsCommon.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCanMakePaymentsTest.kt
Owners: @RevenueCat/coresdk

Fix PaywallResult.Cancelled for successful MY_APP purchases (#3138)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/LoadingPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivity.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/testdata/TestData.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk, @RevenueCat/customer-center

Removed player.stop() + player.reset() from teardown.
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
Owners: @RevenueCat/coresdk

simpler deserialization
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/serializers/SealedDeserializerWithDefault.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/BackgroundTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/build.gradle.kts
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
Owners: @RevenueCat/coresdk

Update API dump files for DangerousSettings companion object (PW-962)
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
Owners: @RevenueCat/coresdk

[AUTOMATIC] Release/9.22.2 (#3140)
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Preparing for next version
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Update VideoView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
Owners: @RevenueCat/coresdk

Extract media player owner; add facade & tests
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/AndroidMediaPlayerFacade.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/MediaPlayerFacade.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/MediaPlayerThreadOwner.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/MediaPlayerThreadOwnerTests.kt
Owners: @RevenueCat/coresdk

Prepare next version: 9.23.0-SNAPSHOT (#3147)
  .circleci/config.yml
  .version
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Version bump for 9.23.0
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
  test-apps/sdksizetesting/gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

fix PaywallViewModelTest
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

migrate tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

Create `PaywallPurchaseContext` to `PurchaseLogic` for product changes and offers (#3129)
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallActivityLauncherAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallOptionsAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallViewAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PurchaseLogicAPI.kt
  ui/revenuecatui/api.txt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDialogOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PurchaseLogic.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLaunchOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityNonSerializableArgsStore.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityNonSerializableArgsStoreTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Owners: @RevenueCat/coresdk

fix management url
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/customer-center

[Conditional Configurability] Better deserialization (#3146)
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/serializers/SealedDeserializerWithDefault.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/BackgroundTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/build.gradle.kts
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
Owners: @RevenueCat/coresdk

cleaner
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/PaywallComponentsData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/PromoOfferConfig.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/serializers/EmptyObjectToNullSerializer.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ProductChangeConfigTest.kt
Owners: @RevenueCat/coresdk

Fix: Low res video only on first paywall view (#3120)
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoComponentView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/video/VideoUrlResolverTest.kt
Owners: @RevenueCat/coresdk

Add UI button to clear paywall file cache
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/appinfo/AppInfoScreen.kt
Owners: @RevenueCat/coresdk

detekt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallWarning.kt
Owners: @RevenueCat/coresdk

sorting and cleanup
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallWarning.kt
Owners: @RevenueCat/coresdk

Add uiPreviewMode flag to DangerousSettings (#3144)
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/api-entitlement.txt
  purchases/src/main/kotlin/com/revenuecat/purchases/DangerousSettings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/AppConfig.kt
  purchases/src/test/java/com/revenuecat/purchases/DangerousSettingsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/AppConfigTest.kt
Owners: @RevenueCat/coresdk

Add a catch for the other paywall issues
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallWarning.kt
Owners: @RevenueCat/coresdk

CC-628: Refresh Customer Center on resume after manage subscriptions
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/customer-center

Fix Customer Center refresh sync on resume
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MockPurchasesType.kt
Owners: @RevenueCat/customer-center, @RevenueCat/coresdk

add ui tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/VisibilityConditionTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallState.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/FakePaywallState.kt
Owners: @RevenueCat/coresdk

Fix sticky refresh-on-resume flag
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
Owners: @RevenueCat/customer-center

intro offer and promo offer tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
Owners: @RevenueCat/coresdk

Refactor color extraction and WCAG constants
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/AppStyleExtractor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/ColorComputationHelpers.kt
Owners: @RevenueCat/coresdk

feat(appstack): adds attribution data capabilities from appstack
  api-tester/src/defaults/java/com/revenuecat/apitester/java/PurchasesAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/PurchasesAPI.kt
  purchases/api-defaults-bc7.txt
  purchases/api-defauts.txt
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/subscriberattributes/SpecialSubscriberAttributes.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/subscriberattributes/SubscriberAttributesManager.kt
  purchases/src/test/java/com/revenuecat/purchases/subscriberattributes/SubscriberAttributesManagerTests.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/attributes/SubscriberAttributesPurchasesTests.kt
Owners: @RevenueCat/coresdk

Revert "add CI diagnostic logs"
  .circleci/config.yml
  build.gradle.kts
Owners: @RevenueCat/coresdk

download AAR with curl from github packages
  .circleci/config.yml
Owners: @RevenueCat/coresdk

[RENOVATE] Update dependency com.google.android.gms:play-services-ads to v25
  gradle/libs.versions.toml
Owners: @RevenueCat/coresdk

Use fixed user ID and block login/logout in preview mode (PW-963)
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/identity/IdentityManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/IdentityStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/identity/IdentityManagerTests.kt
Owners: @RevenueCat/coresdk

Guard switchUser against preview mode (PW-963)
  purchases/src/main/kotlin/com/revenuecat/purchases/identity/IdentityManager.kt
  purchases/src/test/java/com/revenuecat/purchases/identity/IdentityManagerTests.kt
Owners: @RevenueCat/coresdk

Use fixed user ID and block login/logout in preview mode (#3158)
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/identity/IdentityManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/IdentityStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/identity/IdentityManagerTests.kt
Owners: @RevenueCat/coresdk

detekt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/appinfo/AppInfoScreen.kt
Owners: @RevenueCat/coresdk
