Repository RevenueCat/purchases-android, pull requests merged in 2023-12, with the labels that each got.

#1511 Paywalls: Remove `PaywallActivity` theme to pickup application's theme by default
  ui/revenuecatui/src/main/AndroidManifest.xml
  ui/revenuecatui/src/main/res/values/themes.xml
Labels: RevenueCatUI

#1504 Improve price per month accuracy for weekly subscriptions
  purchases/src/main/kotlin/com/revenuecat/purchases/models/Period.kt
  purchases/src/test/java/com/revenuecat/purchases/models/PeriodTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/PriceExtensionsPricePerMonthTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/PriceExtensionsPricePerWeekTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/testdata/TestData.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: fix

#1515 Improve pricePerYear price calculation precision
  purchases/src/main/kotlin/com/revenuecat/purchases/models/Period.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/PriceExtensionsPricePerYearTest.kt
Labels: fix

#1509 Paywalls: Add `PaywallFooterView`
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallFooterViewAPI.java
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallViewAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallFooterViewAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallViewAPI.kt
  api-tester/src/defaults/res/layout/paywall_footer_view_api.xml
  api-tester/src/defaults/res/layout/paywall_view_api.xml
  examples/paywall-tester/build.gradle
  examples/paywall-tester/src/main/AndroidManifest.xml
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/MainActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallFooterViewActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallViewActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/offerings/OfferingsScreen.kt
  examples/paywall-tester/src/main/res/font-v26/lobster_two.xml
  examples/paywall-tester/src/main/res/font/lobster_two.xml
  examples/paywall-tester/src/main/res/layout/activity_paywall_footer_view.xml
  examples/paywall-tester/src/main/res/layout/activity_paywall_view.xml
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallFooter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallFooterView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallViewAttributesReader.kt
  ui/revenuecatui/src/main/res/values/paywall_view_attrs.xml
Labels: RevenueCatUI

#1522 `Paywalls`: fix traditional chinese string
  ui/revenuecatui/src/main/res/values-zh-rHK/strings.xml
Labels: RevenueCatUI

#1526 Add revenuecatui docs to reference docs
  ui/revenuecatui/build.gradle
Labels: docs

#1528 Disable close button when action is in progress
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/LoadingPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/CloseButton.kt
Labels: fix

#1529 Paywalls: improve Chinese localization
  ui/revenuecatui/src/main/res/values-zh-rHK/strings.xml
  ui/revenuecatui/src/main/res/values-zh-rTW/strings.xml
Labels: fix, RevenueCatUI

#1532 Hide action bar from paywall activity
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivity.kt
Labels: RevenueCatUI

#1521 Wait for tests to pass when deploying
  .circleci/config.yml
Labels: ci

#1533 Add `launchIfNeeded` with `offeringIdentifier`
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallActivityLauncherAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallActivityLauncherAPI.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
Labels: feat, RevenueCatUI

#1537 Paywalls: add Chinese from mainland China
  ui/revenuecatui/src/main/res/values-zh-rCN/strings.xml
Labels: RevenueCatUI

#1538 `Paywalls`: `PurchaseCancelledError` sends `onPurchaseCancelled` instead of an error
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallListener.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Labels: RevenueCatUI

#1541 Opens PaywallFooterView
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallFooterView.kt
Labels: fix
