Repository RevenueCat/purchases-android, pull requests merged in 2023-09, with the labels that each got.

#1218 Create paywall tester app
  examples/paywall-tester/.gitignore
  examples/paywall-tester/build.gradle
  examples/paywall-tester/proguard-rules.pro
  examples/paywall-tester/src/main/AndroidManifest.xml
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/MainActivity.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallTesterApp.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/appinfo/AppInfoScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/MainScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/Tab.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/offerings/OfferingsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywalls/PaywallsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/theme/Color.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/theme/Theme.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/theme/Type.kt
  examples/paywall-tester/src/main/res/drawable/ic_launcher_background.xml
  examples/paywall-tester/src/main/res/drawable/ic_launcher_foreground.xml
  examples/paywall-tester/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  examples/paywall-tester/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  examples/paywall-tester/src/main/res/mipmap-hdpi/ic_launcher.webp
  examples/paywall-tester/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  examples/paywall-tester/src/main/res/mipmap-mdpi/ic_launcher.webp
  examples/paywall-tester/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  examples/paywall-tester/src/main/res/mipmap-xhdpi/ic_launcher.webp
  examples/paywall-tester/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  examples/paywall-tester/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  examples/paywall-tester/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  examples/paywall-tester/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  examples/paywall-tester/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  examples/paywall-tester/src/main/res/values/colors.xml
  examples/paywall-tester/src/main/res/values/strings.xml
  examples/paywall-tester/src/main/res/values/themes.xml
  gradle/libs.versions.toml
  settings.gradle
Labels: test

#1219 Add PaywallData and its classes
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallColor.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
Labels: feat

#1213 Add RevenueCatUI module and initial API
  settings.gradle
  ui/revenuecatui/.gitignore
  ui/revenuecatui/build.gradle
  ui/revenuecatui/consumer-rules.pro
  ui/revenuecatui/proguard-rules.pro
  ui/revenuecatui/src/main/AndroidManifest.xml
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewListener.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewMode.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewOptions.kt
Labels: refactor, RevenueCatUI

#1221 Adds kotlinx serialization
  gradle/libs.versions.toml
  purchases/build.gradle
Labels: dependencies, feat

#1222 Serializes PaywallData
  purchases/src/main/kotlin/com/revenuecat/purchases/Offering.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallColor.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/URLSerializer.kt
  ui/debugview/src/main/kotlin/com/revenuecat/purchases/ui/debugview/models/TestModels.kt
Labels: feat

#1220 PaywallTester: Visualize offerings in offerings tab and navigate to new screen
  examples/paywall-tester/build.gradle
  examples/paywall-tester/src/main/AndroidManifest.xml
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/Constants.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/MainApplication.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/PaywallTesterApp.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/AppScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/MainScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/appinfo/AppInfoScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/offerings/OfferingsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/offerings/OfferingsState.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/offerings/OfferingsViewModel.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/paywalls/PaywallsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/offerings/OfferingsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreen.kt
  gradle/libs.versions.toml
Labels: test, RevenueCatUI

#1224 Paywalls: Use coroutines to interact with SDK
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewModel.kt
Labels: refactor, RevenueCatUI

#1226 Add revision and remove default_locale
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
Labels: feat, RevenueCatUI

#1227 Add configForLocale to PaywallData
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
Labels: feat, RevenueCatUI

#1229 Fix tests that broke when adding PaywallData
  purchases/src/test/java/com/revenuecat/purchases/utils/productStubs.kt
Labels: fix, test

#1225 Improve offerings start log
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/OfferingStrings.kt
Labels: refactor

#1228 Fix OfferingsParser exceptions being swallowed
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/test/java/com/revenuecat/purchases/common/offerings/OfferingsFactoryTest.kt
Labels: fix, RevenueCatUI

#1230 Paywalls: Use paywall data in paywall
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
Labels: refactor

#1231 Nightly deploy of paywall tester
  .circleci/config.yml
  examples/paywall-tester/build.gradle
  fastlane/Fastfile
  gradle.properties
Labels: ci

#1232 Paywalls: Add initial Template2 UI and using colors and texts in paywall
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallColor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/ContextExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/UIConstant.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/template2/Template2.kt
  ui/revenuecatui/src/main/res/values/strings.xml
Labels: refactor, RevenueCatUI

#1233 Paywalls: Add logger class to unify logging behavior
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/Logger.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallViewModel.kt
Labels: refactor, RevenueCatUI

#1235 Paywalls: Use coil to load images
  gradle/libs.versions.toml
  ui/revenuecatui/build.gradle
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/RemoteImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: refactor, RevenueCatUI

#1237 Add PaywallDataTest
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallDataTest.kt
  purchases/src/test/resources/paywalldata-sample1.json
Labels: test, RevenueCatUI

#1241 Paywalls: Organize files into packages
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/RemoteImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/ContextExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/Logger.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: refactor, RevenueCatUI

#1240 `Paywalls`: created `PaywallBackground`
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PaywallBackground.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/ModifierExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: RevenueCatUI

#1246 Show dialog after completed or error purchasing
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenState.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywall/PaywallScreenViewModel.kt
Labels: feat, RevenueCatUI

#1239 `Paywalls`: new `TestData` to store fake paywalls
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: RevenueCatUI

#1242 Paywalls: Map data inputs into consumable TemplateConfiguration class
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PaywallBackground.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/ColorsFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/PackageConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/PackageConfigurationType.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/PaywallTemplate.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/ProcessedLocalizedConfiguration.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfiguration.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/Logger.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: refactor, RevenueCatUI

#1253 PaywallTester: Improve AppInfo screen to allow LogIn/LogOut and display debug menu
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/appinfo/AppInfoScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/appinfo/AppInfoScreenViewModel.kt
Labels: test, RevenueCatUI

#1248 Catch IllegalStateException and forward StoreProblemError
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
Labels: fix

#1250 Add `valueInMonths` helper to `Period` class
  api-tester/src/main/java/com/revenuecat/apitester/java/PeriodAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/java/PricingPhaseAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/PeriodAPI.kt
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/PricingPhaseAPI.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/Period.kt
  purchases/src/test/java/com/revenuecat/purchases/models/PeriodTest.kt
Labels: feat

#1251 Paywalls: Add variable processing to paywall strings
  ui/revenuecatui/build.gradle
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/PackageConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/ProcessedLocalizedConfiguration.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProviderTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1257 `Paywalls`: extracted `ApplicationContext` interface and `MockViewModel`
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/AndroidApplicationContext.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProviderTest.kt
Labels: RevenueCatUI

#1249 Paywalls: Add template configuration factory tests
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/test/java/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
Labels: test, RevenueCatUI

#1238 Adds localizedConfiguration
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallData.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallDataTest.kt
  purchases/src/test/resources/paywalldata-missing_current_locale.json
Labels: feat, RevenueCatUI

#1262 Paywalls: Add more tests in `VariableProcessorTest`
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProviderTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: test, RevenueCatUI

#1264 Paywalls: Add support for `sub_period` variable
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/AndroidApplicationContext.kt
  ui/revenuecatui/src/main/res/values/strings.xml
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1245 Created `Footer`
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/Footer.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/res/values/strings.xml
Labels: RevenueCatUI

#1272 `Paywalls`: added transition when loading images
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/UIConstant.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/RemoteImage.kt
Labels: RevenueCatUI

#1275 Add `awaitRestore` to customEntitlementComputation library
  purchases/src/defaults/kotlin/com/revenuecat/purchases/coroutinesExtensions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/CoroutinesExtensionsCommon.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCoroutinesCommonTest.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/PurchasesCoroutinesTest.kt
Labels: fix

#1266 Paywalls: Adds some initial spanish strings and some initial preview
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/res/values-es/strings.xml
Labels: refactor, RevenueCatUI

#1269 Paywalls: Implement `price_per_period` variable support
  examples/paywall-tester/build.gradle
  ui/revenuecatui/build.gradle
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PeriodExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1276 Paywalls: Add support for SUB_DURATION variable in paywalls
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PeriodExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1270 Created enum with variable names
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
Labels: feat, RevenueCatUI

#1278 Paywalls: Add tests for additional periods in variable processor
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: test, RevenueCatUI

#1274 `Paywalls`: new `PaywallIcon`
  gradle/libs.versions.toml
  ui/revenuecatui/build.gradle
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PaywallIcon.kt
  ui/revenuecatui/src/main/res/drawable/add.xml
  ui/revenuecatui/src/main/res/drawable/android.xml
  ui/revenuecatui/src/main/res/drawable/apple.xml
  ui/revenuecatui/src/main/res/drawable/attach_money.xml
  ui/revenuecatui/src/main/res/drawable/attachment.xml
  ui/revenuecatui/src/main/res/drawable/bar_chart.xml
  ui/revenuecatui/src/main/res/drawable/bookmark.xml
  ui/revenuecatui/src/main/res/drawable/bookmark_no_fill.xml
  ui/revenuecatui/src/main/res/drawable/calendar_today.xml
  ui/revenuecatui/src/main/res/drawable/chat_bubble.xml
  ui/revenuecatui/src/main/res/drawable/check_circle.xml
  ui/revenuecatui/src/main/res/drawable/close.xml
  ui/revenuecatui/src/main/res/drawable/collapse.xml
  ui/revenuecatui/src/main/res/drawable/compare.xml
  ui/revenuecatui/src/main/res/drawable/download.xml
  ui/revenuecatui/src/main/res/drawable/edit.xml
  ui/revenuecatui/src/main/res/drawable/email.xml
  ui/revenuecatui/src/main/res/drawable/error.xml
  ui/revenuecatui/src/main/res/drawable/experiments.xml
  ui/revenuecatui/src/main/res/drawable/extension.xml
  ui/revenuecatui/src/main/res/drawable/file_copy.xml
  ui/revenuecatui/src/main/res/drawable/filter_list.xml
  ui/revenuecatui/src/main/res/drawable/folder.xml
  ui/revenuecatui/src/main/res/drawable/globe.xml
  ui/revenuecatui/src/main/res/drawable/help.xml
  ui/revenuecatui/src/main/res/drawable/insert_drive_file.xml
  ui/revenuecatui/src/main/res/drawable/launch.xml
  ui/revenuecatui/src/main/res/drawable/layers.xml
  ui/revenuecatui/src/main/res/drawable/line_chart.xml
  ui/revenuecatui/src/main/res/drawable/lock.xml
  ui/revenuecatui/src/main/res/drawable/notifications.xml
  ui/revenuecatui/src/main/res/drawable/person.xml
  ui/revenuecatui/src/main/res/drawable/phone.xml
  ui/revenuecatui/src/main/res/drawable/play_circle.xml
  ui/revenuecatui/src/main/res/drawable/remove_red_eye.xml
  ui/revenuecatui/src/main/res/drawable/search.xml
  ui/revenuecatui/src/main/res/drawable/share.xml
  ui/revenuecatui/src/main/res/drawable/smartphone.xml
  ui/revenuecatui/src/main/res/drawable/stacked_bar.xml
  ui/revenuecatui/src/main/res/drawable/stars.xml
  ui/revenuecatui/src/main/res/drawable/subtract.xml
  ui/revenuecatui/src/main/res/drawable/tick.xml
  ui/revenuecatui/src/main/res/drawable/transfer.xml
  ui/revenuecatui/src/main/res/drawable/two_way_arrows.xml
  ui/revenuecatui/src/main/res/drawable/vpn_key.xml
  ui/revenuecatui/src/main/res/drawable/warning.xml
Labels: RevenueCatUI

#1280 `Code style`: enabled `ALLOW_TRAILING_COMMA`
  .idea/codeStyles/Project.xml
Labels: build

#1283 Paywalls: Add support for `sub_offer_duration` variable in paywalls
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1285 Paywalls: Add support for `total_price_and_per_month` variable in paywalls
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PackageExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PeriodExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat, RevenueCatUI

#1281 `Paywalls`: `InternalPaywallView` now takes a `PaywallViewMode` parameter
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/Footer.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
Labels: refactor, RevenueCatUI

#1261 Creates default PaywallData
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/PaywallColor.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallColorTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallDataTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/res/drawable/default_background.jpg
Labels: feat

#1287 Paywalls: Fix state update upon locale changes
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
Labels: fix, RevenueCatUI

#1291 Validate icons
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
Labels: feat, RevenueCatUI

#1273 PaywallData validation
  examples/paywall-tester/build.gradle
  examples/paywall-tester/src/main/res/values/themes.xml
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallDataTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessor.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/errors/PaywallValidationError.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallValidationResult.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
Labels: feat

#1292 Add preview for default data
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/HelperFunctions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
Labels: fix, RevenueCatUI

#1293 Future-proof in-app message APIs in case new types are added
  api-tester/src/main/java/com/revenuecat/apitester/java/InAppMessageTypeAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/java/PurchasesCommonAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/InAppMesageTypeAPI.kt
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/PurchasesCommonAPI.kt
  purchases/src/customEntitlementComputation/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesConfiguration.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/amazon/AmazonBilling.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/AppConfig.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/BillingAbstract.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/google/BillingWrapper.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/InAppMessageType.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/BillingStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/BasePurchasesTest.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesConfigurationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesLifecycleTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/AppConfigTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/BaseHTTPClientTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/diagnostics/DiagnosticsTrackerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/attributes/SubscriberAttributesPurchasesTests.kt
Labels: refactor

#1265 Bump minimum sdk version to Android 4.4 (API level 19)
  README.md
  build.gradle
  integration-tests/build.gradle
Labels: breaking

#1296 Release/7.0.0
  .circleci/config.yml
  .version
  CHANGELOG.latest.md
  CHANGELOG.md
  docs/index.html
  examples/CustomEntitlementComputationSample/gradle/libs.versions.toml
  examples/MagicWeather/gradle/libs.versions.toml
  examples/MagicWeatherCompose/gradle/libs.versions.toml
  gradle.properties
  library.gradle
  migrations/v7-MIGRATION.md
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Config.kt
Labels: next_release

#1294 Template 3
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywallView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/IconImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PurchaseButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template3.kt
Labels: feat, RevenueCatUI

#1295 Better handling of packages not found for id error
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/PackageConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/errors/PackageConfigurationError.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/TemplateConfigurationFactoryTest.kt
Labels: fix, RevenueCatUI
