Repository RevenueCat/purchases-android, pull requests merged in 2024-01, with the labels that each got.

#1545 Remove scroll in Template 2 and 5 in Footer mode
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
Labels: RevenueCatUI

#1544 Report restore errors when using PaywallActivityLauncher
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivity.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallResult.kt
Labels: RevenueCatUI

#1542 PaywallActivityLauncher: Add callback indicating whether the paywall was displayed when presented conditionally to an entitlement identifier
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallActivityLauncherAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallActivityLauncherAPI.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
Labels: RevenueCatUI

#1550 Fix NullPointerException issues getting advertising id
  gradle/libs.versions.toml
  purchases/src/main/kotlin/com/revenuecat/purchases/google/attribution/GoogleDeviceIdentifiersFetcher.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/AttributionStrings.kt
  purchases/src/test/java/com/revenuecat/purchases/google/attribution/GoogleDeviceIdentifiersFetcherTests.kt
Labels: fix

#1554 Fix AmazonConfiguration for Java projects
  api-tester/src/defaults/java/com/revenuecat/apitester/java/PurchasesAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/PurchasesAPI.kt
  api-tester/src/main/java/com/revenuecat/apitester/java/PurchasesCommonAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/PurchasesCommonAPI.kt
  feature/amazon/src/main/java/com/revenuecat/purchases/amazon/AmazonConfiguration.java
  feature/amazon/src/main/kotlin/com/revenuecat/purchases/amazon/AmazonConfiguration.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesConfiguration.kt
Labels: fix

#1551 `Paywalls`: improve landscape layout on all templates
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/SamplePaywalls.kt
  fastlane/.purchases-android-snapshots-commit
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/UIConstant.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/PurchaseButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/WindowHelper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template1.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template3.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template4.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/IntSizeExtensionsTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/WindowHelperTest.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/snapshottests/BasePaparazziTest.kt
Labels: RevenueCatUI

#1556 Fix paywall dialog composable sizing issues
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDialog.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/WindowHelper.kt
Labels: RevenueCatUI

#1558 `Paywalls`: improve error display
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Labels: RevenueCatUI

#1561 Revert google ads library bump to remove `AD_ID` permission
  gradle/libs.versions.toml
Labels: fix

#1564 `Paywalls`: improve template 5 layout for long product names
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
Labels: RevenueCatUI

#1567 Add name property to StoreProduct
  api-tester/src/main/java/com/revenuecat/apitester/java/StoreProductAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/java/TestStoreProductAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/StoreProductAPI.kt
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/TestStoreProductAPI.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/SamplePaywalls.kt
  purchases/src/androidTest/kotlin/com/revenuecat/purchases/factories/StoreProductFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/amazon/AmazonStoreProduct.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/amazon/storeProductConversions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/google/storeProductConversions.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/GoogleStoreProduct.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/StoreProduct.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/models/TestStoreProduct.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchaseParamsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/amazon/StoreProductTest.kt
  purchases/src/test/java/com/revenuecat/purchases/amazon/helpers/dummies.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendTest.kt
  purchases/src/test/java/com/revenuecat/purchases/google/BillingWrapperTest.kt
  purchases/src/test/java/com/revenuecat/purchases/google/StoreProductTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/productStubs.kt
  ui/debugview/src/main/kotlin/com/revenuecat/purchases/ui/debugview/models/TestModels.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/LoadingPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/testdata/TestData.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: feat

#1570 Use activity instead of context to calculate window size
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/WindowHelper.kt
Labels: fix

#1572 `VariableProcessor`: fix tests
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorTest.kt
Labels: test

#1574 `Paywalls`: log error when creating `PaywallState.Error`
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
Labels: refactor

#1576 `OfferingsFactory`: debug logs when creating `Offerings`
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/offerings/OfferingsFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/strings/OfferingStrings.kt
Labels: refactor

#1579 `Paywalls`: improve `PaywallData.configForLocale()` disambiguation
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/LocaleExtensions.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallDataTest.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/LocaleExtensionsTest.kt
  purchases/src/test/resources/paywalldata-chinese.json
  ui/revenuecatui/src/main/res/values-zh/strings.xml
Labels: fix, RevenueCatUI

#1582 Paywall views: Support updating options state after initial layout
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallFooterView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
Labels: fix, RevenueCatUI

#1584 `Paywalls`: replace `TextAlign.Left` with `TextAlign.Start` to better support RTL
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
Labels: RevenueCatUI

#1585 `Paywalls`: fix template 5 title alignment
  fastlane/.purchases-android-snapshots-commit
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/templates/Template5.kt
Labels: RevenueCatUI
