Repository RevenueCat/purchases-android, pull requests merged in 2025-02, with the labels that each got.

#2095 [Paywalls V2] Add `CarouselComponentView`
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Padding.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2105 [Paywalls V2] Add CarouselComponent page indicator animation
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/SizeConstraintExtensions.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2103 [Paywalls V2] Add more `ImageComponentView` preview tests
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2102 Customer Center use remote appearance config
  purchases/src/test/java/com/revenuecat/purchases/paywalls/PaywallColorTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigDataExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PromotionalOfferView.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2104 Prices in accept promotional offer button
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/resources/get_customer_center_config_success.json
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/extensions/SubscriptionOptionExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PromotionalOfferView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableDataProvider.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PeriodExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PriceExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/PreviewDataCreators.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/extensions/SubscriptionOptionExtensionsTest.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2107 Support for opening custom urls in Customer Center
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/java/com/revenuecat/purchases/customercenter/CustomerCenterConfigDataTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywall.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/actions/CustomerCenterAction.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/utils/URLOpener.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2109 Fix title not being reset after closing Feedback Survey
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2094 Rename to Web Billing
  examples/web-purchase-redemption-sample/src/main/java/com/revenuecat/webpurchaseredemptionsample/Constants.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/EntitlementInfo.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendRedeemWebPurchaseTest.kt
Labels: pr:other

#2096 refactor: Introduce EventsManager to track events for different features
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsRequest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/FeatureEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallBackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallEventRequest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallEventsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/events/PaywallStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/EventsFileHelper.kt
  purchases/src/test/java/com/revenuecat/purchases/BasePurchasesTest.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCommonTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendPaywallEventTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/events/PaywallEventsRequestSerializationTest.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/PurchasesTest.kt
  purchases/src/testDefaults/kotlin/com/revenuecat/purchases/attributes/SubscriberAttributesPurchasesTests.kt
Labels: pr:other

#2099 [Paywalls V2] Implements Variables V2
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/LoadedPaywallComponents.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ktx/Localization.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TextComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorV2.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/testdata/TestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/errors/PaywallValidationError.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallValidationResult.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/strings/PaywallValidationErrorStrings.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/pkg/PackageComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewVariablesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PaywallState.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2101 [Paywalls V2] Adds deserialization of `TabsComponent`
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/PaywallComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TabsComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/TabsComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2119 Fixes "View field header collides with a variable" data binding error in PurchaseTester
  examples/purchase-tester/src/main/res/layout/row_view.xml
Labels: pr:other

#2116 Ignores `RestorePurchasesDialog` previews using `IgnoreEmergeSnapshot`
  gradle/libs.versions.toml
  ui/revenuecatui/build.gradle
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Labels: pr:other

#2115 [Paywalls V2] Adds `TabsComponent` samples and tests
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/SamplePaywalls.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/paywalls/TabsWithButtons.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/paywalls/TabsWithToggle.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentViewTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2120 [Paywalls V2] New overrides structure
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/paywalls/TabsWithButtons.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/CarouselComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/IconComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/ImageComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/StackComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TabsComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TextComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TimelineComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverride.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/ComponentOverrides.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/ComponentOverridesTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/iconcomponent/IconComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/IconComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ImageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TabsComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TextComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TimelineComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/BuildPresentedPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ToPresentedOverridesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/pkg/PackageComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentViewWindowTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactoryTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewWindowTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2093 [Paywalls V2] Published version of PaywallTester now uses the Paywalls V2 Alpha RC project
  .circleci/config.yml
Labels: pr:other, feat:PaywallV2

#2110 Fixes `X` in promo offer not dismissing the promo
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2118 [Paywalls V2] Remove cursive as a generic font
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/FontSpec.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2123 Revamp UI in Customer Center
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/CustomerCenterUIConstants.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/SubscriptionDetailsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/composables/SettingsButton.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsView.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2122 [Paywalls V2] Correctly selects packages on tabs
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TabsComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabControlToggleView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/PaywallValidationResult.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactoryTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewVariablesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/MostExpensivePricePerMonthMicrosTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/FakePaywallState.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2108 [Paywalls V2] Support scroll orientation in StackComponent
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/StackComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/StackComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedStackPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Scrollable.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/ModifierExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/OverflowExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedStackPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentViewTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2131 [Paywalls V2] Support background images in StackComponent, CarouselComponent, TabsComponent
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/CarouselComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/StackComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TabsComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/CarouselComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/StackComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/TabsComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedCarouselPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedStackPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedTabsPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TabsComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedCarouselPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedStackPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedTabsPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentViewTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactoryTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2124 feat: Track IMPRESSION and SURVER_OPTION_CHOSEN for CustomerCenter
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsRequest.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterImpressionEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterSurverOptionChosenEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/CustomerCenterConfigDataTests.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
  purchases/src/test/java/com/revenuecat/purchases/customercenter/events/CustomerCenterEventSerializationTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModelFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PurchasesType.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/PaywallViewModelTest.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2129 [Paywalls V2] Actually ignores the font provider for V2.
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/InternalPaywall.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2134 [Paywalls V2] Fix merge conflict
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2135 fix: Hide contact support if there's no email
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2133 fix: Address typo and wrong doc for CustomerCenter events
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/events/CustomerCenterSurveyOptionChosenEvent.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2126 [Paywalls V2] Fix stack clipping issues
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2130 [Paywalls V2] Avoids a crash if a package is missing
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/errors/PaywallValidationError.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/strings/PaywallValidationErrorStrings.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2136 [Paywalls V2] Make root stack component use all the available space by default
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2138 fix: Use TextButton instead of outline for Promotionals
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PromotionalOfferScreen.kt
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#2137 [Paywalls V2] Adds edge-to-edge support
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ButtonComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ImageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/PackageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StickyFooterComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TabsComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallComponentDataValidationTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2142 [Paywalls V2] Makes linear gradients consistent with CSS
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Border.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Shadow.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/BackgroundStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/ColorStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2139 fix: Localize Restore Purchases Dialog
  purchases/src/main/kotlin/com/revenuecat/purchases/customercenter/CustomerCenterConfigData.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendGetCustomerCenterConfigTest.kt
  purchases/src/test/resources/get_customer_center_config_success.json
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/dialogs/RestorePurchasesDialog.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2141 fix: Add prepaid as a period type
  api-tester/src/main/java/com/revenuecat/apitester/java/EntitlementInfoAPI.java
  api-tester/src/main/java/com/revenuecat/apitester/kotlin/EntitlementInfoAPI.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/EntitlementInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/SubscriptionInfo.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/EntitlementInfoFactories.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/EntitlementInfoHelper.kt
  purchases/src/test/java/com/revenuecat/purchases/common/EntitlementInfosTests.kt
Labels: pr:fix

#2143 [Paywalls V2] Predownload paywall low res images
  purchases/src/main/kotlin/com/revenuecat/purchases/Offerings.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/OfferingImagePreDownloader.kt
  purchases/src/test/java/com/revenuecat/purchases/utils/OfferingImagePreDownloaderTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/BackgroundStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/RemoteImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/CoilImageLoader.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentViewTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2147 [Paywalls V2] Add shadows to badge previews
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2145 [Paywalls V2] Correctly handles variables for lifetime products
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/SamplePaywalls.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/Localization.kt
  purchases/src/test/java/com/revenuecat/purchases/UiConfigTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/VariableLocalizationKeyTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorV2.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewVariablesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/StyleFactory.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2148 [Paywalls V2] Fixes variables for multi month periods
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/SamplePaywalls.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/common/Localization.kt
  purchases/src/test/java/com/revenuecat/purchases/UiConfigTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/common/VariableLocalizationKeyTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/data/processed/VariableProcessorV2.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentViewVariablesTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/StyleFactory.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2140 feat: Filter CANCEL from help path if lifetime
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/SubscriptionDetailsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/PurchaseInformation.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterViewModelTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/PurchaseInformationTest.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2151 [Paywalls V2] Adjusts the convex/concave offset to 10% of the image height
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ktx/Shape.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2149 [Paywalls V2] Fix issue with shadows overlapping long edgeToEdge badges
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2152 [Paywalls V2] Fix issue with sizing of stacks with nested badges
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2150 Updates on no active purchases screen
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/CustomerCenterUIConstants.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/data/CustomerCenterConfigTestData.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/ManageSubscriptionsView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/views/PromotionalOfferScreen.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2156 Make `CustomerCenter` public
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/CustomerCenter.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2155 Explicitly sets the `defaults` flavor as the default.
  api-tester/build.gradle
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallColorAPI.kt
  feature/amazon/build.gradle
  purchases/build.gradle
  ui/debugview/build.gradle
  ui/revenuecatui/build.gradle
Labels: pr:other

#2157 [Paywalls V2] Fixes empty stacks not showing up.
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2154 [Paywalls V2] Change stack distribution system to use spacers instead of custom arrangements
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/ktx/Distribution.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/modifier/Padding.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2159 [Paywalls V2] Disables the click handler for the selected package
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/pkg/PackageComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2158 [Paywalls V2] Apply stack margins to overlay badges
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2161 [Paywalls V2] Refactor to use a single ImageLoader singleton in RevenueCatUI
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/BackgroundStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/RemoteImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/CoilImageLoader.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2162 [Paywalls V2] Fixes the top system bar padding being applied to all children in a vertical container
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2160 chore: Unify Json encoding with JsonHelper
  purchases/src/main/kotlin/com/revenuecat/purchases/common/Backend.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/CustomerInfoFactory.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/JsonProvider.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsRequest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendPaywallEventTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/events/PaywallEventsRequestSerializationTest.kt
Labels: pr:other

#2163 [Paywalls V2] Update CarouselComponent schema to new version with new…
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/CarouselComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/CarouselComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PageControlExtensions.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedCarouselPartialTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2164 [Paywalls V2] Fix wrong spacers in Stack when some children are Fill
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2111 [Paywalls V2] Deprecate PaywallFooter in favor of OriginalTemplatePaywallFooter
  api-tester/src/defaults/java/com/revenuecat/apitester/java/revenuecatui/PaywallFooterViewAPI.java
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallAPI.kt
  api-tester/src/defaults/kotlin/com/revenuecat/apitester/kotlin/revenuecatui/PaywallFooterViewAPI.kt
  api-tester/src/defaults/res/layout/paywall_footer_view_api.xml
  config/detekt/detekt-baseline.xml
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/main/paywalls/PaywallsScreen.kt
  examples/paywall-tester/src/main/java/com/revenuecat/paywallstester/ui/screens/paywallfooter/PaywallFooterScreen.kt
  examples/paywall-tester/src/main/res/layout/activity_paywall_footer_view.xml
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallFooter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/OriginalTemplatePaywallFooterView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/views/PaywallView.kt
Labels: pr:feat, pr:RevenueCatUI, feat:PaywallV2

#2166 [Paywalls V2] Gradients Reloaded: Makes linear gradients match CSS even more closely
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/ColorStyle.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2165 [Paywalls V2] Make border draw on top of the image overlay
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2127 [Paywalls V2] Removes the Paywalls V2 build flag
  .circleci/config.yml
  purchases/build.gradle
  purchases/src/main/kotlin/com/revenuecat/purchases/common/OfferingParser.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2144 Rename carousel slide to page
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/CarouselComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/CarouselComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedCarouselPartial.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/extensions/PageControlExtensions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/OfferingToStateMapper.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PresentedCarouselPartialTests.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentViewTests.kt
Labels: pr:fix, pr:RevenueCatUI, feat:PaywallV2

#2171 Fix back button dismissing the Customer Center
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#2173 Fix promotional offer not being displayed
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/viewmodel/CustomerCenterViewModel.kt
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#2176 Fix issue with release minification with Emerge's annotation
  ui/revenuecatui/consumer-rules.pro
Labels: pr:fix

#2177 Enable paywall tester minification
  .circleci/config.yml
  examples/paywall-tester/build.gradle
Labels: pr:other

#2178 fix: Track customer center events
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/BackendStoredEvent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/common/events/EventsManager.kt
  purchases/src/test/java/com/revenuecat/purchases/common/events/EventsManagerTest.kt
Labels: pr:fix, pr:RevenueCatUI, feat:Customer Center

#2172 [Paywalls V2] Adds `visible` property to all components
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/CarouselComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/IconComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/ImageComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/StackComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TabsComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TextComponent.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/paywalls/components/TimelineComponent.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/CarouselComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/IconComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/ImageComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/StackComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/TabsComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/TextComponentTests.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/components/TimelineComponentTests.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/PreviewHelpers.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/iconcomponent/IconComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/image/ImageComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ButtonComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/CarouselComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/IconComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/ImageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/PackageComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StackComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StickyFooterComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/StyleFactory.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TabsComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TextComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/style/TimelineComponentStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/tabs/TabsComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/text/TextComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentState.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/timeline/TimelineComponentView.kt
  ui/revenuecatui/src/test/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentViewTests.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2182 [Paywalls V2] Allow manual scrolling if auto-advance is enabled
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/carousel/CarouselComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2188 chore: Introduce preview for no active subscriptions
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/InternalCustomerCenter.kt
Labels: pr:RevenueCatUI, pr:other, feat:Customer Center

#2181 Creates a `ShowCustomerCenter ` contract for displaying as an Activity
  ui/revenuecatui/src/main/AndroidManifest.xml
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/CustomerCenterActivity.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/customercenter/ShowCustomerCenter.kt
Labels: pr:feat, pr:RevenueCatUI, feat:Customer Center

#2192 [Paywalls V2] Adds CI job to update template previews
  .circleci/config.yml
  fastlane/Fastfile
  fastlane/README.md
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2189 chore: Add backend integration test for events
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendEventsTest.kt
  purchases/src/test/java/com/revenuecat/purchases/backend_integration_tests/ProductionBackendIntegrationTest.kt
  purchases/src/test/java/com/revenuecat/purchases/common/backend/BackendPaywallEventTest.kt
  purchases/src/test/java/com/revenuecat/purchases/paywalls/events/PaywallEventsRequestSerializationTest.kt
Labels: pr:RevenueCatUI, pr:other

#2195 [Paywalls V2] Adds docs on ignored arguments for Paywalls V2 in more places.
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallDialogOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallFooter.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/PaywallOptions.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/activity/PaywallActivityLauncher.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2197 Adds X-Kotlin-Version header.
  purchases/src/main/kotlin/com/revenuecat/purchases/common/HTTPClient.kt
  purchases/src/test/java/com/revenuecat/purchases/common/HTTPClientTest.kt
Labels: pr:other

#2193 [Paywalls V2] Adds a note on publishing to the missing paywall error.
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/strings/PaywallValidationErrorStrings.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2200 Avoids triggering "unscheduled" workflows when triggering workflows via the CircleCI API
  .circleci/config.yml
Labels: pr:other

#2198 [Paywalls V2] Adds progress indicator to buttons
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/button/ButtonComponentView.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/ColorStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/stack/StackComponentView.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2

#2146 [Paywalls V2] Extract ImageLoader to use a single one
  api-tester/src/defaults/java/com/revenuecat/apitester/java/PurchasesAPI.java
  purchases/build.gradle
  purchases/src/defaults/kotlin/com/revenuecat/purchases/Purchases.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/PurchasesOrchestrator.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/CoilImageDownloader.kt
  purchases/src/main/kotlin/com/revenuecat/purchases/utils/OfferingImagePreDownloader.kt
  purchases/src/test/java/com/revenuecat/purchases/BasePurchasesTest.kt
  purchases/src/test/java/com/revenuecat/purchases/PurchasesCommonTest.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/components/properties/BackgroundStyle.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/composables/RemoteImage.kt
  ui/revenuecatui/src/main/kotlin/com/revenuecat/purchases/ui/revenuecatui/helpers/CoilImageLoader.kt
Labels: pr:RevenueCatUI, pr:other, feat:PaywallV2
